<section class="post-comments center-text">
<button class="show-comments btn--full-width" id="show-comments" onclick="loadComments();"><a href="{{url}}#disqus_thread">Load Comments</a></button>

<!-- The empty element required for Disqus to loads comments into -->
<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a rel="nofollow" href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a rel="nofollow" href="http://disqus.com" class="dsq-brlink"><em>Comments powered by <span class="logo-disqus">Disqus</span></em></a>


<script type="text/javascript">

  // EDIT THIS LINE!
  var disqus_shortname = 'YOUR_DISQUS_SHORTNAME'; // You *must* replace this with your shortname

  var disqus_identifier = '{{uuid}}';

  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());

  function loadComments() {
    (function () {
      var dsq = document.createElement('script');
      dsq.type = 'text/javascript';
      dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    document.getElementById('show-comments').style.display = "none";
  }
</script>
</section>
