/*! normalize-opentype v0.2.0 | MIT License | kennethormandy.com/journal/normalize-opentype-css */::-moz-selection{color:inherit;text-shadow:inherit}::selection{color:inherit;text-shadow:inherit}body,html{-webkit-font-feature-settings:"kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0;-moz-font-feature-settings:"kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0;font-feature-settings:"kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0}h1,h2,h3{-webkit-font-feature-settings:"kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 1;-moz-font-feature-settings:"kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 1;font-feature-settings:"kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 1}abbr{text-transform:uppercase;-webkit-font-feature-settings:"kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"smcp" 1,"c2sc" 1;-moz-font-feature-settings:"kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"smcp" 1,"c2sc" 1;font-feature-settings:"kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"smcp" 1,"c2sc" 1}time{-webkit-font-feature-settings:"kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0;-moz-font-feature-settings:"kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0;font-feature-settings:"kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0}code,kbd,pre,samp{-webkit-font-feature-settings:"kern" 0,"liga" 0,"calt" 1,"dlig" 0,"pnum" 0,"tnum" 1,"onum" 0,"lnum" 1,"zero" 1;-moz-font-feature-settings:"kern" 0,"liga" 0,"calt" 1,"dlig" 0,"pnum" 0,"tnum" 1,"onum" 0,"lnum" 1,"zero" 1;font-feature-settings:"kern" 0,"liga" 0,"calt" 1,"dlig" 0,"pnum" 0,"tnum" 1,"onum" 0,"lnum" 1,"zero" 1}sup{-webkit-font-feature-settings:"kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0,"sups" 1;-moz-font-feature-settings:"kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0,"sups" 1;font-feature-settings:"kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0,"sups" 1}sub{-webkit-font-feature-settings:"kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0,"subs" 1;-moz-font-feature-settings:"kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0,"subs" 1;font-feature-settings:"kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0,"subs" 1}input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=number],input[type=range],input[type=tel],input[type=week]{-webkit-font-feature-settings:"kern" 0,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 0,"lnum" 1,"zero" 0;-moz-font-feature-settings:"kern" 0,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 0,"lnum" 1,"zero" 0;font-feature-settings:"kern" 0,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 0,"lnum" 1,"zero" 0}table{-webkit-font-feature-settings:"kern" 0,"liga" 1,"calt" 1,"pnum" 0,"tnum" 1,"onum" 0,"lnum" 1,"zero" 1;-moz-font-feature-settings:"kern" 0,"liga" 1,"calt" 1,"pnum" 0,"tnum" 1,"onum" 0,"lnum" 1,"zero" 1;font-feature-settings:"kern" 0,"liga" 1,"calt" 1,"pnum" 0,"tnum" 1,"onum" 0,"lnum" 1,"zero" 1}table tfoot,table thead{-webkit-font-feature-settings:"kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0;-moz-font-feature-settings:"kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0;font-feature-settings:"kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0}



/*
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 * http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript */
code[class*=language-],pre[class*=language-]{color:#000;text-shadow:0 1px #fff;font-family:Consolas,Monaco,'Andale Mono',monospace;direction:ltr;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,pre[class*=language-]::-moz-selection{text-shadow:none;background:#b3d4fc}code[class*=language-] ::selection,code[class*=language-]::selection,pre[class*=language-] ::selection,pre[class*=language-]::selection{text-shadow:none;background:#b3d4fc}@media print{code[class*=language-],pre[class*=language-]{text-shadow:none}}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#f5f2f0}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#708090}.token.punctuation{color:#999}.namespace{opacity:.7}.token.boolean,.token.constant,.token.number,.token.property,.token.symbol,.token.tag{color:#905}.token.attr-name,.token.builtin,.token.char,.token.selector,.token.string{color:#690}.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url,.token.variable{color:#a67f59;background:hsla(0,0%,100%,.5)}.token.atrule,.token.attr-value,.token.keyword{color:#07a}.token.function{color:#DD4A68}.token.important,.token.regex{color:#e90}.token.important{font-weight:700}.token.entity{cursor:help}.token.deleted{color:red}.token.inserted{color:green}pre.line-numbers{position:relative;padding-left:3.8em;counter-reset:linenumber}pre.line-numbers>code{position:relative}.line-numbers .line-numbers-rows{position:absolute;pointer-events:none;top:0;font-size:100%;left:-3.8em;width:3em;letter-spacing:-1px;border-right:1px solid #999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.line-numbers-rows>span{pointer-events:none;display:block;counter-increment:linenumber}.line-numbers-rows>span:before{content:counter(linenumber);color:#999;display:block;padding-right:.8em;text-align:right}



/* ==========================================================================
   1. Icons - Sets up the icon font and respective classes
   ========================================================================== */

/* Import the font file with the icons in it */
@font-face {
    font-family: "icons";
    src:url("../fonts/icons.eot");
    src:url("../fonts/icons.eot?#iefix") format("embedded-opentype"),
        url("../fonts/icons.woff") format("woff"),
        url("../fonts/icons.ttf") format("truetype"),
        url("../fonts/icons.svg#icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Apply these base styles to all icons */
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "icons", Fira Sans, "Open Sans", sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Each icon is created by inserting the correct character into the
   content of the :before pseudo element. Like a boss. */
.icon-ghost:before {
    content: "\e000";
}
.icon-feed:before {
    content: "\e001";
}
.icon-twitter:before {
    content: "\e002";
    font-size: 1.1em;
}
.icon-google-plus:before {
    content: "\e003";
}
.icon-facebook:before {
    content: "\e004";
}
.icon-arrow-left:before {
    content: "\e005";
}
.icon-stats:before {
    content: "\e006";
}
.icon-location:before {
    content: "\e007";
    margin-left: -3px; /* Tracking fix */
}
.icon-link:before {
    content: "\e008";
}

.open-menu:hover{
  background-color: transparent;
  background: inherit;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0nbWVudS1pY29uLXN2ZycgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJyB4bWxuczp4bGluaz0naHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluaycgeD0nMHB4JyB5PScwcHgnIHdpZHRoPScyNXB4JyBoZWlnaHQ9JzM1cHgnIHZpZXdCb3g9JzAgMCAyNSAyNScgZW5hYmxlLWJhY2tncm91bmQ9J25ldyAwIDAgMjUgMjUnIHhtbDpzcGFjZT0ncHJlc2VydmUnPjxwYXRoIGZpbGw9Im5vbmUiLz48ZyBpZD0nbWVudS1pY29uJyBmaWxsPSdvcmFuZ2UnPjxyZWN0IHdpZHRoPScyNScgaGVpZ2h0PScyJy8+PHJlY3QgeT0nNScgd2lkdGg9JzI1JyBoZWlnaHQ9JzInLz48cmVjdCB5PScxMCcgd2lkdGg9JzI1JyBoZWlnaHQ9JzInLz48L2c+PHBhdGggZmlsbD0nbm9uZScgZD0nWicgLz48cGF0aCBkPSJtMSAyMyAwLjc3IDAgMC0zLjYxYzAtMC41OC0wLjA3LTEuMzYtMC4xMS0xLjk0bDAuMDQgMCAwLjUyIDEuNDYgMS4yNyAzLjQzIDAuNDcgMCAxLjI2LTMuNDMgMC41My0xLjQ2IDAuMDQgMGMtMC4wNSAwLjU4LTAuMTEgMS4zNi0wLjExIDEuOTRsMCAzLjYxIDAuNzkgMCAwLTYuNTYtMC45OCAwLTEuMjYgMy41Mi0wLjQ2IDEuMzQtMC4wNCAwTDMuMjUgMTkuOTYgMS45OCAxNi40NCAxIDE2LjQ0IDEgMjNNOC4yNyAyM2wzLjg4IDAgMC0wLjcxLTMuMDUgMCAwLTIuMzggMi40OSAwIDAtMC43MS0yLjQ5IDAgMC0yLjA2IDIuOTUgMCAwLTAuNy0zLjc4IDAgMCA2LjU2TTEzLjU0IDIzbDAuNzkgMCAwLTMuNDNjMC0wLjY5LTAuMDYtMS4zOS0wLjExLTIuMDVsMC4wNCAwIDAuNzEgMS4zNSAyLjM4IDQuMTMgMC44NiAwIDAtNi41Ni0wLjc5IDAgMCAzLjM5YzAgMC42OSAwLjA2IDEuNDMgMC4xIDIuMDlsLTAuMDQgMC0wLjcxLTEuMzYtMi4zNy00LjEyLTAuODYgMCAwIDYuNTZNMTkuOTcgMjAuMjljMCAyLjExIDEuMDIgMi44MyAyLjM2IDIuODMgMS4zNCAwIDIuMzUtMC43MiAyLjM1LTIuODNsMC0zLjg1LTAuOCAwIDAgMy44N2MwIDEuNTgtMC42OCAyLjA4LTEuNTUgMi4wOC0wLjg2IDAtMS41My0wLjUtMS41My0yLjA4bDAtMy44Ny0wLjgzIDAgMCAzLjg1IiBmaWxsPSIjNzA4MDkwIi8+PC9zdmc+") !important;
}

#menu-trigger:checked ~ label{
  background: transparent;
  border:none;
  box-shadow: none;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMjUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiA8Zz4KICA8bGluZSBpZD0ic3ZnXzEiIHkyPSIyNSIgeDI9IjAiIHkxPSIwIiB4MT0iMjUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlPSIjY2NjY2NjIiBmaWxsPSJub25lIi8+CiAgPGxpbmUgaWQ9InN2Z18yIiB5Mj0iMCIgeDI9IjAiIHkxPSIyNSIgeDE9IjI1IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZT0iI2NjY2NjYyIgZmlsbD0ibm9uZSIvPgogPC9nPgo8L3N2Zz4=") !important;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.menu{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;

  background-color: #F7FAFB;
  position: absolute;
  top:-6rem;
  height:4rem;
  width: 100%;
  padding: 0 1.65rem;
  text-align: center;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  box-sizing: border-box;

  box-shadow: 0 -5px 20px -10px lightslategray inset;
  border-bottom: #ccc 1px solid;
}

#menu-trigger:checked ~ nav{
  top:-.825rem;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.menu li{
  text-align: center;
  display: inline;
  margin-left: 1.65rem;
}

.menu a{
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color:slategray;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: .055rem;
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
  #menu-trigger:checked ~ label{
    width: 20px;
    height: 20px;
    background-position: center;
  }
}

@media only screen and (max-width: 500px) {
  .menu{
    display: none;
    height: auto;
    padding-top: 1.65rem;
  }

  .menu:before{
    content: "{ menu }";
    font-weight: 700;
    font-family: "Alegreya", Georgia, Serif;
    text-align: center;
    color:#ccc;
    font-size:3.3rem;
    -moz-font-feature-settings: "smcp=1";
    -moz-font-feature-settings: "smcp";
    -ms-font-feature-settings: "smcp";
    -webkit-font-feature-settings: "smcp";
    -o-font-feature-settings: "smcp";
    font-feature-settings: "smcp";
    font-variant: small-caps;
  }

  #menu-trigger:checked ~ nav{
    display: block;
  }

  .menu li{
    display: block;
    margin-left: 0;
  }
}



/* FONTS */

/* This is the response sent by the commented out Brick.im lin in default.hbs. Just putting it here to minimize requests.*/
@font-face{font-family:'Source Serif Pro';font-style:normal;font-weight:400;src:local('Source Serif Pro'),url(//brick.a.ssl.fastly.net/fonts/sourceserifpro/400.woff) format('woff')}@font-face{font-family:'Source Serif Pro';font-style:normal;font-weight:700;src:local('Source Serif Pro Bold'),url(//brick.a.ssl.fastly.net/fonts/sourceserifpro/700.woff) format('woff')}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:400;src:local('Source Sans Pro Regular'),url(//brick.a.ssl.fastly.net/fonts/sourcesanspro/400.woff) format('woff')}@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:900;src:local('Source Sans Pro Black'),url(//brick.a.ssl.fastly.net/fonts/sourcesanspro/900.woff) format('woff')}@font-face{font-family:'Source Sans Pro';font-style:italic;font-weight:400;src:local('Source Sans Pro Italic'),url(//brick.a.ssl.fastly.net/fonts/sourcesanspro/400i.woff) format('woff')}@font-face{font-family:'Source Sans Pro';font-style:italic;font-weight:900;src:local('Source Sans Pro Black Italic'),url(//brick.a.ssl.fastly.net/fonts/sourcesanspro/900i.woff) format('woff')}@font-face{font-family:'Alegreya';font-style:italic;font-weight:400;src:local('Alegreya Italic'),url(//brick.a.ssl.fastly.net/fonts/alegreya/400i.woff) format('woff')}@font-face{font-family:'Alegreya';font-style:italic;font-weight:700;src:local('Alegreya Bold Italic'),url(//brick.a.ssl.fastly.net/fonts/alegreya/700i.woff) format('woff')}


@font-face {
  font-family: 'Ampersand';
  src: url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAhYABEAAAAAFRAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABgAAAABwAAAAcaZhpK0dERUYAAAGcAAAAHQAAACAAQQAER1BPUwAAAbwAAAGdAAALBLpV1NtHU1VCAAADXAAAAEsAAABoTKZNvk9TLzIAAAOoAAAAVQAAAGCXPLTuY21hcAAABAAAAABgAAABcknWTiBjdnQgAAAEYAAAAAQAAAAEAEQFEWdhc3AAAARkAAAACAAAAAj//wADZ2x5ZgAABGwAAAFyAAABiAAXFxJoZWFkAAAF4AAAAC8AAAA2BXO+p2hoZWEAAAYQAAAAIAAAACQO4QLMaG10eAAABjAAAAA5AAAAUC41AI5sb2NhAAAGbAAAABEAAAAqBhYGCG1heHAAAAaAAAAAHwAAACAAWACbbmFtZQAABqAAAAE9AAADEkdRbw5wb3N0AAAH4AAAAG4AAADQfoPIoHdlYmYAAAhQAAAABgAAAAaJhVPVAAAAAQAAAADMPaLPAAAAAM1fjFcAAAAAz/s6BHjaY2BkYGDgA2IJBhBgYmAEQmEgZgHzGAAFGwBGAAAAeNq9VitswzAQvVQDVXDxgiuNBZcXF4cMbGTTpExjw8XhxcXGgZNCRoqNw4MDfTv/1m7OWsdOd5bl+He+e3fPDiQAkMIt3EHyfP/2AnO4oRFABDmTPD28yjHQPZqbqXYOs/RTrkzr9IP2ZrSjwZJKhmsIEGRUC9q9QoY5FqLFFjl2pJXjVuyxgShBHrmfUQm0AbemrTzWbpyRNeFS6K/r+T3sG+5kXHw1UaS4yoMGdxAtVge+e62uTe0s5oRaaRGVM4O7qt8oYD7KxpwQOu0fcBntdzOaN1y3ql+S3+wcbpJRsWdTpBub1T8ydY2PfjkZmiHEQhnZzPQ6KsxZ043WWv7FviERXHMal9oOUdG9lUmPRK9yonBt8ji78MkK5T+XPY0gIZ4f7wUTeW9sLY5i77V6YXhlzhO12JDvLX2tVL+XfPJlkNVibfjfu50wDLrPQ/it81G+ZTE5Os1LNsZn10bsvzUsLnCkhQlEvycwqZzih+3l23WCE1lc1PzYef7fw5MT3L0fjlkgo3/9bA1k88HNv0FNiVu/AHqJDxcAAAB42mNgZGBg4GJQYLBiYMxJLMlj4GBgAYow/P/PwASkGBmYkhOLUxn4cvJKcxlEwCKMYJIBKM/GwAflCUBpESBmg6piQWYDAE+vB/oAeNpjYGJKZpzAwMrAwjqL1ZiBgVEeQjNfZEhjYmBgYGJgZQZSnAzMDQwM6x0YFLwYoCDUO9yPgZFBQfUPG8M/IJ9jGtNmBQZGQQcGOFBgYAIANuQLbQAAAHjaY2BgYGaAYBkGRgYQyAHyGMF8FoYAIC0AhCB5BQY1hgUKXAr6CvGqf/7/h4swwET+P/5/73/qA7b7j+5vviUONQ0FMLIxwIUZmYAEE7oCiFMYgFYPfsBKli4AMVMVfwBEBREAAAAB//8AAnjaY2BicGFgYEphDWVgZmBn0NvIyKBvs4mdheGt0UY21js2m5iZgEyGjcwgYVaQ8CZ2NsY/NpsYQeLGgoqCqoqCii5MCv9UGGf8y2AN/bXaheUsAwMDI4PX//tsHqyHGTKBHCMxURE2ZSV1M1MTZSU+JlERcYgIhM8oKiJmbGTHaGqips4GZpuLifIxKiupmZrYsYNEzYxB6vmY2UWBFBOLspIeM1CK2RyowIxZPK060d1CxTVLxspMSSY4wUSFJTOyx+Xfswn/ptWmrPDSV5BmZfQwiyjW808rKEjz17MzlfcMTtJyzs33Xnbu35r9EYv6M23tE6sLTZJOs25LCfCMlbTzT5MyTXYMb7EzV9ESkEyrWhtx8VjtxbLslaL+MyyceUREDcwKI+wyvJ0szO09k62NwoQcqgMcM70ddMQ4yq/P/vd+gaJb+tSoxOX5wVpsSe2d68BhAgTMO5h3AMOaARh0isw7/niAMAMDAB8JZvcAAHjaY2BkYGAA4sJf+r7x/DZfGeQ5GEDg/G8rFgT9/z6bB+thBiYGDiAGAgAs0QrAAHjaY2BkYOCY9teXgYH1JgPD/4lsHgxAERQgAgB3RwS7eNpjesPgwgAETKsYGBjvMjCw3mTwAtFMD4Hswwia8TUQFwAVfoXiHUC+OpAOhNAgOWagGABxuw3lAAAAeNpjYGDQgcJteOERAM74DB8AAAB42mNgZGBgEGHIYmBiAAEQycgAEnNg0AMJAAAPwwD0AHjatZHNSsNAFIXPpLW1pYgrkS7KrEQXhlqDYna2q7oSBAV3ja0ajEYSfxB8AJeuXbvuc6iP4xP0zOSWNAWhGxky57sz98zc3AGwgjFKUOUagIBfxgpNRhk7aOBVuIQu3oTL2MSP8BJa+BWuYEOtCldxrvaEl1FX78I18odwHYH6FG5g3akIf2HNaQl/o+146CHGPV6QIMQVrvEAzRousEXtoI0d7JICZmgMuBsyO4bL6BARh55xpjYaUUfUJ85DZvboi8h3jAY255jxI6lPj9kLeV9+ts+Mvz264PJnqlzUc2qrS8kxczXdxu+Kzp8yPWO7cMaid2nOqe2c5mpCHdJ1S01ww7UYl3N9zTmn/3+jZzvcgtvknHEOWKPplLk169MJ/9R07oga2Rr27d4B36ND9eExa1qbNwHj8nOjAAAAeNptxcsOwVAUhtH9tbTqTjzI7uG4DBtJH0VJREwMPD3h/GbWZFlmX6/OTvbPyoyM3HKr6NGnoGRAxZARYyZMmTFnwbLors/7uU6F8nG7uDf+Obj/rnXQa73RUW/1Tu/1QTfp0KZjOrbHN8CWJ0oAAAABU9WJhAAA) format('woff'),
    url('calendas_plus_italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
