{{!< ../default}}
{{> content-header}}
<main class="inner center-text">
  <h2>Welcome back!</h2>
  <p>Sign into your account again for full access</p>
  {{#if @member}}

    {{!-- Logged in: Redirect home --}}
    <script>window.location = '{{@site.url}}';</script>

  {{else}}

  <form data-members-form="signin">
    <input data-members-email type="email" required="true" placeholder="Your email address"/>
    <button type="submit"><span class="button-text">Send login link</span></button>
  </form>

  <small class="message-success">
    Great! Check your inbox and click the link to confirm your subscription.
  </small>

  <small class="message-error">
    Please enter a valid email address!
  </small>

  <small data-members-error></small>

  <p><small>Don't have an account yet? <a href="/signup/">Sign up</a></small></p>

  {{/if}}
</main>
